{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>

<a class="btn btn-sm btn-light mb-3"href="{{ url_for('admin.add_film') }}">Tambah Film</a>
<a class="btn btn-sm btn-light mb-3"href="/admin/films">Kelola Film</a>
<a class="btn btn-sm btn-light mb-3"href="{{ url_for('admin.manage_schedules') }}">Kelola Jadwal</a>
<a class="btn btn-sm btn-light mb-3"href="{{ url_for('admin.manage_bookings') }}">Konfirmasi Booking</a>
<a class="btn btn-sm btn-light mb-3"href="{{ url_for('admin.booking_reports') }}">Laporan Booking</a>

<h4>Films</h4>
<table class="table table-dark">
<tr><th>ID</th><th>Title</th><th>Duration</th></tr>
{% for f in films %}
<tr><td>{{f.id}}</td><td>{{f.title}}</td><td>{{f.duration}}</td></tr>
{% endfor %}
</table>
{% endblock %}