{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

  <h2>Checkout</h2>

  <div class="card p-3 mt-3">

    <p><strong>ID Booking:</strong> {{ booking_id }}</p>

    <p><strong>Kursi:</strong>
      {% for s in seats %}
        <span class="badge bg-success">{{ s }}</span>
      {% endfor %}
    </p>

    <p>
      <strong>Total Harga:</strong>
      <span class="text-warning fw-bold">Rp {{ total_price }}</span>
    </p>

    <form action="/pay/{{ booking_id }}" method="POST">
      <button class="btn btn-success w-100 mt-3">
        Bayar Sekarang
      </button>
    </form>

  </div>

</div>

{% endblock %}
