{% extends 'base.html' %}
{% block content %}
  <h2>Semua Film</h2>
  <div class="row">
    {% for f in films %}
      <div class="col-md-3 mb-4">
        <div class="card card-film text-white">
          <img src="{{f.poster}}" class="card-img-top" style="height:240px;object-fit:cover">
          <div class="card-body">
            <h5 class="card-title">{{f.title}}</h5>
            <a href="/film/{{f.id}}" class="btn btn-accent">Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}