{% extends 'base.html' %}
{% block title %}Home - Flask Cinema{% endblock %}
{% block content %}
  <h1 class="mb-4">Sedang Tayang</h1>
  <div class="row">
    {% for f in films %}
      <div class="col-md-3 mb-4">
        <div class="card card-film text-white">
          <img src="{{f.poster}}" class="card-img-top" style="height:320px;object-fit:cover">
          <div class="card-body">
            <h5 class="card-title">{{f.title}}</h5>
            <p class="card-text">{{f.duration}} min</p>
            <a href="/film/{{f.id}}" class="btn btn-accent">Lihat Jadwal</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}